<div class="mt-4 bg-yellow-50 py-4 px-8 rounded-md flex gap-1">
  <div class="flex text-4xl items-center">👋</div>
  <div class="ml-6 flex flex-col gap-1">
    <h1 class="text-lg font-medium leading-6 text-gray-900 underline-offset-2 underline">
      Onboarding step 2: Your first ingredient!
    </h1>
    <p class="mt-1 text-sm text-gray-500">
      Congratulations! You've created your first ingredient.
    </p>
    <p class="mt-1 text-sm text-gray-500">
      There's nothing to do here for onboarding - we just wanted to stick to the normal flow of the process, rather than skipping a screen.
    </p>
    <p class="mt-1 text-sm text-gray-500">
      You are ready to create your first recipe - the blueprint of your Rails application.
    </p>
    <p class="mt-1 text-sm text-gray-500">
      Click 'My Recipes' in the top navigation to move on to the next step.
    </p>
    </div>
</div>
