<div class="mt-4 bg-yellow-50 py-4 px-8 rounded-md flex gap-1">
  <div class="flex text-4xl items-center">👋</div>
  <div class="ml-6 flex flex-col gap-1">
    <h1 class="text-lg font-medium leading-6 text-gray-900 underline-offset-2 underline">
      Onboarding step 6: Creating your first app
    </h1>
    <p class="mt-1 text-sm text-gray-500">
      Enter the name of your new app in the text field.
    </p>
    <p class="mt-1 text-sm text-gray-500">
      Once railsnew.io has generated the app, it will push it to your GitHub account.
    </p>
    <p class="mt-1 text-sm text-gray-500">
      Therefore, the app name has to be 1) a valid GitHub repo name, and 2) not already taken by another repo in your GitHub account.
    </p>
    <p class="mt-1 text-sm text-gray-500">
      After filling out the text field with a valid name (you should see "✓ Name is available" in green below the text field), click 'Generate App'!
    </p>
    </div>
</div>
