<div class="mt-4 bg-yellow-50 py-4 px-8 rounded-md flex gap-1">
  <div class="flex text-4xl items-center">👋</div>
  <div class="ml-6 flex flex-col gap-1">
    <h1 class="text-lg font-medium leading-6 text-gray-900 underline-offset-2 underline">
      Onboarding step 5: Review your recipe and create your first app!
    </h1>
    <p class="mt-1 text-sm text-gray-500">
      This page will list all the recipes you have created (once you've created at least one).
    </p>
    <p class="mt-1 text-sm text-gray-500">
      Recipes are the blueprint of your Rails applications: a combination of rails CLI flags and any number of ingredients.
    </p>
    <p class="mt-1 text-sm text-gray-500">
      Want to create a new Rails app with say, Tailwind CSS, built-in Rails authentication (with registration), and RSpec instead of Minitest?
    </p>
    <p class="mt-1 text-sm text-gray-500">
      We are going to do exactly that in this tutorial. We'll create a new recipe by picking all of the above from the recipe creation screen, coming up in the next step.
    </p>
    <p class="mt-1 text-sm text-gray-500">
      Click the 'New Recipe' button to get started.
    </p>
    </div>
</div>
