<% content_for :title, "Why" %>

<article class="max-w-2xl mx-auto pt-20">
  <p>Find me in app/views/static/<span class="italic font-semibold">why</span>.html.erb</p>
  <p class="prose-xl">Just some placeholder text for the future <span class="font-bold text-2xl">"why"</span> page</p>
</article>
