@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.sticky-step-bubbles {
  position: sticky;
  top: 0;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.639);
  z-index: 10;
}
